<!-- Navigation menu bar start -->
<nav class="navbar navbar-default header" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Menu</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
      
        <ul class="nav navbar-nav navbar-right">          
			<li class="dropdown">
				<a href="#" class="dropdown-toggle">Hadees
				<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#HadeesDay">Hadees Of the Day</a></li>
                    <li><a href="#BukariHadees">Bukhari Hadees</a></li>
                    <li><a href="#MuslimHadees">Muslim Hadees</a></li>
				</ul>
			</li>

			<li><a href="#PrayerTiming">Prayer Timing</a></li>

			<li><a href="#">Necessary Dua</a></li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle">Activity
				<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Today's Activity</a></li>
					<li><a href="#">Upcoming Activity</a></li>
				</ul>
			</li>

			<li><a href="#">Find Near Mosque</a></li>
			<li><a href="#">Ramzan Fasting Time Schedule</a></li>
			<li><a href="#">Useful Links & Pdf's</a></li>
        
		</ul>        
      </div>
	  <!-- /.navbar-collapse -->
 </nav>
 <!-- Navigation menu bar end -->